<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="eventmodal" id="modal">
        <div class="modal-content">
            <h1 id="eventName"></h1>
            <p id="eventTime"></p>
            <p id="eventLocation"></p>
            <p id="eventOrganization"></p>
            <p id="eventDescription"></p>
            <div id="details-container"></div>
            <div id="user-function-buttons-container"></div>
            <div id="event-review-container"></div>
        </div>
    </div>
</body>
</html>








