<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar" class="nav-bar">
        <ul>
            <li class="home"><a href="">College Activity Finder</a></li>
            <li id="general-index"><a href="index.html">Events</a></li>
            <li id="general-map"><a href="map.html">Event Map</a> </li>
            <li id="general-organizationsearch"><a href="organizationsearch.html">Organizations</a></li>
            <li id="general-profile"><a href="profile.html">My Account</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </nav>
</body>
</html>