<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="recommendedpage" class="profile-head">
    <div id="no-profile">
        <p>You have not built your profile yet, please submit a profile </p>
    </div>
    <nav class="nav-bar-inverted" id="recommended-nav">
        <ul>
            <li id="rec-events"><a href="recommendedevents.html">Recommended Events</a></li>
            <li id="rec-orgs"><a href="recommendedorganizations.html">Recommended Organizations</a></li>
        </ul>
    </nav>
    <br />
</div>
</body>
</html>