/* Shared General Features */
body {
  background-color: #073763ff;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  text-transform: lowercase;
}

button, input, select {
  background-color: Transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: medium;
  margin: 5px;
  padding: 10px 20px;
}

button:hover, select:hover {
border-color: purple;
}

select option {
  background: white;
  color: #073763ff;
}

input[type=submit] {
  cursor: pointer;
  padding: 12px 20px;
  width: auto;
}

input[type=submit]:hover {
  border: 2px solid #4CAF50;
}

li a {
  color: #073763ff;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav li {
  color: white;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Shared Nav Bar */
.active-highlighted {
  background-color: #073763ff;
  border-color: coral;
  border-radius: 10px;
  border-style: solid;
  color: #ffffff;
}

.home {
  font-size: 18px;
}

/* Change color on hover */
li a:hover, .active a {
  background-color: #073763ff;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius:10px;
}

.nav-bar {
  background-color: #ffffff;
  color: #073763ff;
}

/* Profile Page */
.nav-bar-inverted {
  background-color: #073763ff;
  border-color: #ffffff;
  border-radius: 30px;
  border-style: solid;
  color: #ffffff;
  margin: auto;
  max-width: 70%;
  padding: auto;
}

.nav-bar-inverted li a {
  color: #ffffff;
  border-radius: 10px;
}

/* My Account Page */
.general-container {
  background-color: #073763ff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
}

img {
  max-width: 300px;
  width: 70%;
}

.profile {
  border-radius: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  object-fit: cover;
}

.profile-button {
  margin: 20px;
}

.profile-form {
  border-radius: 5px;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 40%;
}

.profile-form input[type=text],
.profile-form input[type=datetime-local],
.profile-form input[type=number],
.profile-form input[type=file],
.profile-form textarea,
.profile-form select {
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}
 
.profile-head {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

#organization, #no-profile, #user, #org-nav, #individual-nav, #user-image-form {
  display: none;
}

/* My Account Calendar */
.calendar {
  margin: auto;
  width: 83%;
}

.date {
  display: block;
  width: 100%;
  margin: 2%;
  padding: 2px;
  width: 100%;
}

div.row {
  padding-left:3%;
  padding-bottom: 0;
  margin-bottom: 1em;
}

.public-org-name {
  font-size: 1.17em;
  font-weight: bolder;
  color: #ffffff;
}
/* shared classes and styling */

/* My Account Saved Events & Orgs */
.item-container {
  border-radius: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding: 10px;
  width: 80%;
}

/* Event Search Page */
#filters {
 display: block;
}

#events, .events {
  text-align: center;
}

.event {
  border-color: white;
  border-radius: 30px;
  border-style: solid;
  display: inline-block;
  list-style-type: none;
  margin: 2%;
  padding: 2%;
}

.event:hover {
  border: 4px solid blueviolet;
  cursor: pointer;
}

.eventDetail {
  border: 2px solid deepskyblue;
  border-radius: 20px;
  margin: 5px;
  padding: 15px;
}

#events {
  text-align: center;
}

#event-header {
  text-align: center;;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 40px;
}

#filters {
 display: block;
 text-align: center;
}

#filters button, #filters input, #filters select {
  margin: 10px;
}

#filters select option[value=""] {
  color: #999999;
}

#modal {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed; /* Stay in place */
  padding-top: 100px;
  top: 0;
  width: 100%;
  z-index: 1; /* Sit on top */
}

.modal-content {
  background-color: #073763ff;
  border: 4px solid blueviolet;
  border-radius: 30px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  width: 25%;
}

.eventDetail {
  display: -webkit-inline-box;
}

.selected {
  border: 4px solid #caff00;
}

/* Reviews */
#review-container {
  text-align: left;
}

#review-container h1{
  font-size: 25px;
  margin-bottom: 10px;
}

.review {
  border: 2px solid darkgreen;
  border-radius: 20px;
  margin: 20px 0px;
  padding: 20px;
  width: 60%;
}

.review button {
  border: 2px solid darkgreen;
  margin: 10px;
}

.review-details {
  margin: 0px;
  text-align: left;
}

.review-text {
  margin: 10px;
  text-align: center;
}

.review-submission {
  border: 1px solid darkgreen;
  margin-right: 10px;
}

/* Map */
#map {
  text-align: center;
  border: thin solid black;
  height: 1200px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#mapContent {
    color: black;
    font-weight: bold;
}

#eventMap {
    text-align: center;
    height: 500px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

/* loading wheel */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.load-div {
  position: fixed;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -75px; /* Negative half of height. */
  margin-left: -75px; /* Negative half of width. */
  z-index:2;
}

.container {
  position: relative;
}

#contents {
  z-index:1;
}

.index-load {
  display: none;
}

.about {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 33.33%;
  float: left;
}
