/* Shared General Features */
body {
  background-color: #073763ff;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

button, input, select {
  background-color: Transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: medium;
  padding: 10px 20px;
}

select option {
  background: white;
  color: #073763ff;
}

input[type=submit] {
  cursor: pointer;
  padding: 12px 20px;
  width: auto;
}

input[type=submit]:hover {
  border: 2px solid #4CAF50;
}

li a {
  color: #073763ff;
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

nav li {
  color: white;
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Shared Nav Bar */
.active-highlighted {
  background-color: #073763ff;
  border-color: coral;
  border-radius: 10px;
  border-style: solid;
  color: #ffffff;
}

.home {
  font-size: 18px;
}

/* Change color on hover */
li a:hover, .active a {
  background-color: #073763ff;
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
  border-radius:10px;
}

.nav-bar {
  background-color: #ffffff;
  color: #073763ff;
}

/* Profile Page */
.nav-bar-inverted {
  background-color: #073763ff;
  border-color: #ffffff;
  border-radius: 30px;
  border-style: solid;
  color: #ffffff;
  margin: auto;
  max-width: 70%;
  padding: auto;
}

.nav-bar-inverted li a {
  color: #ffffff;
  border-radius: 10px;
}

/* My Account Page */
.general-container {
  background-color: #073763ff;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 5px;
}

img {
  max-width: 300px;
  width: 70%;
}

.profile {
  border-radius: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.profile-button {
  margin: 20px;
}

.profile-form {
  border-radius: 5px;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 3%;
  width: 40%;
}

.profile-form input[type=text], .profile-form select {
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}
 
.profile-head {
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 60%;
}

#organization, #no-profile, #user, #org-nav, #individual-nav {
  display: none;
}

/* My Account Calendar */
.calendar {
  margin: auto;
  width: 83%;
}

.date {
  display: block;
  width: 100%;
  margin: 2%;
  padding: 2px;
  width: 100%;
}

div.row {
  padding-left:3%;
  padding-bottom: 0;
  margin-bottom: 1em;
}

.public-org-name {
  font-size: 1.17em;
  font-weight: bolder;
  color: #ffffff;
}
/* shared classes and styling */

/* My Account Saved Events & Orgs */
.item-container {
  border-radius: 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  padding: 10px;
  width: 80%;
}

/* Event Search Page */
#filters {
 display: block;
}

#events {
  text-align: center;
}
.event {
  border-color: white;
  border-radius: 30px;
  border-style: solid;
  display: inline-block;
  list-style-type: none;
  margin: 2%;
  padding: 2%;
}

#event-header {
  text-align: center;;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 40px;
}

#filters {
  text-align: center;
}

#filters button, #filters input, #filters select {
  margin: 10px;
}

#filters select option[value=""] {
  color: #999999;
}

.selected {
  border: 4px solid purple;
}

/* Reviews */
.review {
  border: 2px solid white;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  width: 50%;
}

.review-details {
  margin: 0px;
  text-align: left;
}

.review-text {
  margin: 0px;
  text-align: center;
}
