#content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 650px;
  padding: 20px;
  border: 5px solid #333;
  border-radius: 6px;
}

#greeting-container {
  margin-top: 20px;
}

#map {
  text-align: center;
  border: thin solid black;
  height: 1000px;
  width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 20px;
}

#chart {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  border-radius: 20px;
}

form {
  display: block;
  margin-left: 40px;
}

.menu {
    overflow: hidden;
    background-color: #333;
    padding: 30px;
    color: white;
}

body {
    background:gainsboro;
    color:black;
    margin-left: auto;
}

h1 {
    text-align: center;
    color:black
}


h2 { 
    text-align: center;
    color: cornflowerblue;
}

header {
    text-align: center;
    background: cornflowerblue;
    padding-left: 20px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 100px 4px;
}
 
.fa:hover {
    opacity: 0.7;
}
 
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

.menu a {
  float: left;
  display: block;
  color: lightgray;
  padding-left: 30px;
  text-align: center;
  text-decoration: none;
}

.menu a:hover {
    opacity: 0.7;
}
.intro {
    padding-top: 20px;
}
.me {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 20px;
}
.gallery {
    text-align: center;
    background: white
}
#aboutpage {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 650px;
  padding: 20px;
}
