<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8">
    <title> Create an Event </title>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcUGlXG2igIndFEDR1TsvtCTUgTukD6C8">
    </script>
    <script src="event.js"> </script>
    <script src="user.js"> </script>
    <script src="script.js"> </script>
    <script src="map.js"> </script>

    <link rel="stylesheet" href="style.css">
  </head>
  <body onload="getUser(false, 'general-profile', 'org-event');loadEventInfo(); createEventPlacementMap();
        createEventTypeElements('eventType', 'option')">
    <div th:replace="fragments/navbar::navbar"></div>
    <br />
    <div class="container">
      <div class="load-div" id="load">
        <div class="loader"></div>
      </div>
      <div id="contents">
        <div th:replace="fragments/profilehead::profilehead"></div>
        <br />
        <div class="profile-form general-container">
          <form id="event-form" action="save-event" method="POST">

            <input type="hidden" id="university" name="university">
            <input type="hidden" id="event-id" name="event-id">

            <label for="eventTitle"> Event Title: </label>
            <input type="text" id="eventTitle" name="eventTitle" required>
            <br><br>

            <label for="eventDateTime"> Event Date and Time: </label>
            <input type="datetime-local" id="eventDateTime" name="eventDateTime" required>
            <br><br>

            <label> Event Location: </label> <br>
            <input id="eventLatitude" name="eventLatitude" placeholder="Event Latitude" required> <br>
            <input id="eventLongitude" name="eventLongitude" placeholder="Event Longitude" required>
            <br><br>

            <label> Event Map: </label>
            <br>
            <p>Click on the map to add a marker for the event's location.</p>
            <div id="eventMap"></div>
            <br> <br>

            <label for="eventDescription"> Event Description: </label> <br>
            <textarea id="eventDescription" name="eventDescription" rows="6" cols="60"> </textarea>
            <br><br>

            <label for="eventType"> Event Type: </label> <br>
            <select name="eventType" id="eventType" required></select>
            <br><br>

           <label> Additional Event Details: </label>
           <br><br>

           <label for="foodAvailable"> Food Available </label>
           <input type="checkbox" id="foodAvailable" name="foodAvailable">

            <br>
            <label for="requiredFee"> Required Fee </label>
            <input type="checkbox" id="requiredFee" name="requiredFee">
            <br><br>

            <input type="submit" form="event-form" value="submit">

          </form>

        </div>
      </div>
    </div>
  </body>
</html>
