<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
    <script src="script.js"></script>
    <script src="user.js"></script>
    <script src="event.js"></script>
  </head>

  <body onload="generalNavActive('general-index');">
    <div th:replace="fragments/navbar::navbar"></div>

    <h1 id="event-header">FIND YOUR EVENT</h1>
    <div id="filters">
      <button id="free" value="free" onclick="toggleBorderSelection('free')">FREE</button>
      <button id="food" value="food" onclick="toggleBorderSelection('food')">FOOD</button>

        <select name="type" id="type" onclick="toggleBorderSelection('type')">
          <option value="">EVENT TYPE</option>
          <option value="forum">FORUM</option>
          <option value="game">GAME</option>
          <option value="movie">MOVIE</option>
          <option value="party">PARTY</option>
          <option value="performance">PERFORMANCE</option>
          <option value="speaker">SPEAKER</option>
          <option value="volunteer">VOLUNTEER</option>
          <option value="workshop">WORKSHOP</option>
        </select>

        <button onclick="showMore(); toggleBorderSelection('filterButton')" id="filterButton">MORE</button>

        <div id="additionalFilters" style="display:none">
          <select name="energy" id="energy" onclick="toggleBorderSelection('energy')">
            <option value="">ENERGY LEVEL</option>
            <option value="1">1 (lowest)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (highest)</option>
          </select>

          <select name="location" id="location" onclick="toggleBorderSelection('location')">
            <option value=''>INDOOR/OUTDOOR</option>
            <option value="indoor">INDOOR</option>
            <option value="outdoor">OUTDOOR</option>=
          </select>

          <button id="visitor" value="visitor" onclick="toggleBorderSelection('visitor')">VISITORS ALLOWED</button>
        </div>
        <input type="text" id="searchEvent" name="searchEvent"
               style="display:block; margin:20px auto;" placeholder="KNOW THE NAME?">
        <button onclick="getEvents()">SEARCH</button>
    </div>
    <div class="container">
      <div class="load-div index-load" id="load">
        <div class="loader"></div>
      </div>
      <div id="contents">
        <div id="no-profile" class="profile-head">
          <p>You have not built your profile yet, please navigate to the "My Account" tab and submit a profile </p>
        </div>
        <div id="events" class="events"></div>
        <div th:replace="fragments/eventmodal::eventmodal"></div>
      </div>
    </div>
  </body>
</html>
