<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
  <head>
    <meta charset="UTF-8">
    <title> Map </title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
    <script src="script.js"></script>
    <script src="user.js"></script>
    <script src="event.js"></script>
    <script src="map.js"> </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcUGlXG2igIndFEDR1TsvtCTUgTukD6C8">
    </script>
    <link rel="stylesheet" href="style.css">
  </head>

  <body onload="createMap();generalNavActive('general-map')">

    <div th:replace="fragments/navbar::navbar"></div>
    <div id="contents" class="events">
      <h1> Event Map </h1>
      <div>
        <h3>Welcome to the Map!</h3>
        <p>Click on a Marker to see the event information.</p>
        <p>If the map is blank, you will need to save events first in order to view them.</p>
      </div>
      <div id="map"> </div>
      <div th:replace="fragments/eventmodal::eventmodal"></div>
    </div>
  </body>

</html>
