<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>My Profile</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="user.js"></script>
</head>
<body onload="getUser(true, 'general-profile', 'profile');addImageField('user-image-form')">
    <div th:replace="fragments/navbar::navbar"></div>
    <br/>
    <div class="container">
        <div class="load-div" id="load">
            <div class="loader"></div>
        </div>
        <div id="contents">
            <div th:replace="fragments/profilehead::profilehead"></div>
            <div class="profile-head">
                <button class="button submit profile-button" onclick="revealForm()">Edit/Submit Your Profile</button>
            </div>
            <div class="profile-form general-container" id="user">
                <form action="save-individual" method="POST" id="user-form">
                    <div id="user-select">
                        <label>Are you an individual or a club/organization?</label>
                        <select id="user-type-toggle" name="user-type" onchange="toggleForm('user-type-toggle');">
                            <option value="individual">Individual</option>
                            <option value="organization">Organization</option>
                        </select>
                    </div>
                    <label>First Name:</label>
                    <input type="text" name="firstname" id="ind-firstname" placeholder="Your first name.."></input>
                    <label>Last Name:</label>
                    <input type="text" name="lastname" id="ind-lastname" placeholder="Your last name.."></input>
                    <label>University:</label>
                    <p id="university-form-display" style="display:none"></p>
                    <p id="university-form-display" style="display:none"></p>
                    <select name="university" id="ind-uni">
                        <option value="" disabled selected hidden>Choose your university</option>
                        <option value="Harvard University">Harvard University</option>
                        <option value="Princeton University">Princeton University</option>
                        <option value="Rutgers University">Rutgers University</option>
                        <option value="Wellesley College">Wellesley College</option>
                        <option value="University of Connecticut">University of Connecticut</option>
                        <option value="University of Tennessee">University of Tennessee</option>
                        <option value="Xavier University">Xavier University</option>
                    </select>
                    <input class="button submit" type="submit" value="Submit" onclick="closeForm()"></input>
                </form>
            </div>
            <div class="profile-form general-container" id="organization">
                <form action="save-organization" method="POST" id="organization-form">
                    <div id="org-select">
                        <label>Are you an individual or an organization?</label>
                        <select name="user-type" onchange="toggleForm('org-user-type');" id="org-user-type">
                            <option value="individual">Individual</option>
                            <option value="organization">Organization</option>
                        </select>
                    </div>
                    <label>Organization Name:</label>
                    <input type="text" name="name" id="org-form-name" placeholder="Your organization name.."></input>
                    <label>Affiliated University:</label>
                    <p id="org-university-form-display"></p>
                    <select name="university" id="org-uni">
                        <option value="" disabled selected hidden>Choose your university</option>
                        <option value="Harvard University">Harvard University</option>
                        <option value="Princeton University">Princeton University</option>
                        <option value="Rutgers University">Rutgers University</option>
                        <option value="Wellesley College">Wellesley College</option>
                        <option value="University of Connecticut">University of Connecticut</option>
                        <option value="University of Tennessee">University of Tennessee</option>
                        <option value="Xavier University">Xavier University</option>
                    </select>
                    <label>Description:</label>
                    <input type="text" name="description" id="org-description" placeholder="Description of your organization.."></input>
                    <label>Organization Type:</label>
                    <select name="org-type" id="org-type">
                        <option value="" disabled selected hidden>Choose organization type</option>
                        <option value="academic">Academic</option>
                        <option value="arts">Arts</option>
                        <option value="athletic">Athletic</option>
                        <option value="cultural">Cultural</option>
                        <option value="professional">Professional</option>
                        <option value="political">Political</option>
                        <option value="service">Service</option>
                        <option value="studentgov">Student Government</option>
                    </select>
                    <input class="button submit" type="submit" value="Submit" onclick="closeForm()"></input>
                </form>
            </div>
            <div class="profile-form general-container" id="user-image-form"></div>
        </div>
    </div>
  </body>
</html>
