<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta>
        <title>Organization Profile</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
        <script src="script.js"></script>
        <script src="user.js"></script>
        <script src="event.js"></script>
        <script src="review.js"></script>
        <script src="map.js"> </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcUGlXG2igIndFEDR1TsvtCTUgTukD6C8">
        </script>
    </head>
    <body onload="getPublicProfile(false);">
        <div th:replace="fragments/navbar::navbar"></div>
        <br/>
        <div class="container">
            <div class="load-div" id="load">
                <div class="loader"></div>
            </div>
            <div id="contents">
                <div class="profile-head">
                    <div id="name"></div>
                    <div class="container" id="profile-image">
                        <a id="public-image-a" href=""><img id="public-image-img" class="image profile" src=""/></a>
                    </div>
                    <div id="email"></div>
                    <div id="university"></div>
                    <div id="description"></div>
                    <div id="rank"></div>
                    <div id="no-profile">
                        <p>You have not built your profile yet, please navigate to My Account page and submit a profile </p>
                    </div>
                </div>
                <div id="hosted-events" class="events"></div>
                <div id="org-review-container"></div>
                <div th:replace="fragments/eventmodal::eventmodal"></div>
            </div>
        </div>
    </body>
</html>
