<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Organization Search</title>
    <link rel="stylesheet" href="style.css">
    <script src="user.js"></script>
</head>
<body onload="findRecommended();generalNavActive('general-recommended')">
<div th:replace="fragments/navbar::navbar"></div>
<br/>
<div id="no-profile">
    <p>You have not built your profile yet, please navigate to the "My Profile" tab and submit a profile. </p>
</div>
<div id="main">
    <div id="recommended-events"></div>
</div>



</body>
</html>
