<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta>
    <title>Calendar of Events</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <script src="script.js"></script>
    <script src="user.js"></script>
    <script src="event.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"></script>
</head>
<body onload="getUser(false, 'general-profile', 'ind-usercalendar');createCalendar()">
    <div th:replace="fragments/navbar::navbar"></div>
    <br/>
    <div th:replace="fragments/profilehead::profilehead"></div>
    <div>
        <p>A calendar of all the events from your saved organizations and saved events</p>
    </div>
    <div class="calendar" id="calendar"></div>
    <div th:replace="fragments/eventmodal::eventmodal"></div>
</body>
</html>

